.App {
  max-width: 500px;
  margin: 30px auto;
  background-color: #fdfdfd;
  border: 1px solid rgb(204, 203, 203);
  border-radius: 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-weight: lighter;
}
.App .CodedBy {
  font-family: monospace;
  margin: 0;
}
